    <% include ('parcial/header.ejs') %>

    <h1>
        <%= autor %>
    </h1>

    <header>
        <h1>
            <%= mensagem %>
        </h1>
    </header>

    <section>
        <form>
            <div id="principal">
                <div id="imagem">
                    <figure>
                        <img id="logoFatec" src="/imagens/Logo-FatecFranca.jpeg" alt="Logo Fatec">
                    </figure>
                </div>

            </div>
        </form>
    </section>

    <% include ('parcial/footer.ejs') %>