
        <% include ('../parcial/header.ejs') %>

        <nav class="menuPrincipal">
            <h2 id="titulo">Menu Principal</h2>            
            <ul>
                <li><a href="/">Login</a></li>                    
                <li><a href="/livros/menuLivros">Livros</a></li>                    
                <li><a href="#">Autores</a></li>
                <li><a href="#">Editoras</a></li>                    
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Nossa Empresa</a></li> 
            </ul>                
        </nav>

        <% include ('../parcial/footer.ejs') %>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>

</html>
