
h1 {
    color: blue;
}

h2 {
    color: blue;
}

/* celulares */
@media(max-width: 450px) {
    h1 {
        color: red;
    }
   
    h2 {
        color: red;
    }
    
}

/* // tablets */
@media(max-width: 768px) and (max-width: 1024px) {
    h1 {
        color: aqua;
    }
   
    h2 {
        color: aqua;
    }
    
}

/* // Orientação Horizontal 
    quando a largura é maior que a altura - celular deitado
*/
@media(orientation: landscape) {
    h1 {
        color: yellow;
    }
   
    h2 {
        color:yellow;
    }
    
}

